In [ ]:
#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins 

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai

In [1]:
import pandas as pd

In [13]:
dfo=pd.read_excel(r'D:\Learnings\INeuronDS\neuroni_Live\pandasDS\Data set\data fsds -20220724T095055Z-001\data fsds\Task31\Dataset\task -20220731T125827Z-001\task\Superstore_USA.xlsx')

In [14]:
dfr=pd.read_excel(r'D:\Learnings\INeuronDS\neuroni_Live\pandasDS\Data set\data fsds -20220724T095055Z-001\data fsds\Task31\Dataset\task -20220731T125827Z-001\task\Superstore_USA.xlsx',sheet_name='Returns')

In [4]:
dfr

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [15]:
dfu=pd.read_excel(r'D:\Learnings\INeuronDS\neuroni_Live\pandasDS\Data set\data fsds -20220724T095055Z-001\data fsds\Task31\Dataset\task -20220731T125827Z-001\task\Superstore_USA.xlsx',sheet_name='Users')

In [9]:
dfu

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [39]:
df.to_csv('Superstore_USA1')

In [40]:
pwd

'C:\\Users\\anil.kumar\\jupyter_ineuron_workspace\\neuron_Liveclasses\\Live Resources Assignments'

In [62]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [9]:
df.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [77]:
dfr

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [22]:
replacements = {
        'timedelta64[ns]': 'varchar(30)',
        'object': 'varchar(30)',
        'float64': 'float(20)',
        'int64': 'int(10)',
        'datetime64[ns]': 'timestamp'
    }

In [19]:
replacements

{'timedelta64[ns]': 'varchar(30)',
 'object': 'varchar(30)',
 'float64': 'float(20)',
 'int64': 'int(50)',
 'datetime64[ns]': 'timestamp'}

In [ ]:
#please remove spaces in columns
and -
PENDING

In [78]:
col_str = ", ".join("{} {}".format(n, d) for (n, d) in zip(dfr.columns, dfr.dtypes.replace(replacements)))
col_str

'Order ID int(10), Status varchar(30)'

In [13]:
#Establishing a connection from local to DB
import  mysql.connector as conn


mydb=conn.connect(host = "localhost" , user ="root" , passwd = "ZAQwe@321",use_pure=True )
cursor=mydb.cursor()
# query1="create database PandasAssignmentDB31st"
# cursor.execute(query1)
cursor.execute("show databases")
print(cursor.fetchall())

[('24thassignmenttask',), ('anil',), ('anil1',), ('anildatabase',), ('classicmodels',), ('ineuron',), ('information_schema',), ('mydb',), ('mydb1',), ('mysql',), ('pandasassignmentdb31st',), ('performance_schema',), ('sakila',), ('sudhanshu',), ('sudhanshu2',), ('sudhanshu5',), ('sys',), ('world',)]

In [76]:
cursor.execute("drop table if exists pandasassignmentdb31st.Superstorer_USA")

In [74]:
query1='''create table if not exists pandasassignmentdb31st.Superstore_USA(
RowID int(10),
OrderPriority varchar(30), 
Discount float(20), 
UnitPrice float(20), 
ShippingCost float(20), 
CustomerID int(10), 
CustomerName varchar(30), 
ShipMode varchar(30), 
CustomerSegment varchar(30), 
ProductCategory varchar(30), 
ProductSub_Category varchar(30), 
ProductContainer varchar(30), 
ProductName varchar(80), 
ProductBaseMargin float(20), 
Region varchar(30), 
StateProvince varchar(50), 
City varchar(30), 
PostalCode int(10), 
OrderDate timestamp, 
ShipDate timestamp, 
Profit float(20), 
Quantityordered_new int(10), 
Sales float(20), 
OrderID int(10))'''

In [75]:
cursor.execute(query1)

In [83]:
query2='''create table if not exists pandasassignmentdb31st.Superstorer_USA(
OrderID int(10), 
Status varchar(30))'''

In [84]:
cursor.execute(query2)

In [16]:
#Executed SQL 
SHOW GLOBAL VARIABLES LIKE 'local_infile';
 SET GLOBAL local_infile=1;
 
alter table superstore_usa change ProductName ProductName longtext;

LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Superstore1_USA.csv'
INTO TABLE superstore_usa
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 ROWS;

SHOW VARIABLES LIKE "secure_file_priv";

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [63]:
#Order data 
dfo

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [64]:
#user data
dfu

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [65]:
#return data
dfr

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [ ]:
3 . Find out how return that we ahve recived and with a product id

In [38]:
dfr

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [40]:
Order_returns=pd.merge(dfr,dfo)

In [41]:
Order_returns

,Order ID,Status,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,...,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales
0,612,Returned,95,Medium,0.10,5.28,6.26,3011,Tammy Raynor,Regular Air,...,0.40,East,Massachusetts,Boston,2113,2013-10-20,2013-10-22,-166.290000,105,552.03
1,612,Returned,96,Medium,0.01,65.99,2.50,3011,Tammy Raynor,Regular Air,...,0.55,East,Massachusetts,Boston,2113,2013-10-20,2013-10-22,881.676000,90,5297.63
2,4610,Returned,653,Low,0.09,8.33,1.99,2548,Wayne Bass,Regular Air,...,0.52,West,California,Los Angeles,90068,2011-06-17,2011-06-19,-17.010000,12,100.32
3,4610,Returned,654,Low,0.08,15.67,1.39,2548,Wayne Bass,Regular Air,...,0.38,West,California,Los Angeles,90068,2011-06-17,2011-06-21,203.010000,44,678.72
4,7079,Returned,979,Medium,0.01,280.98,57.00,478,Michael Wiggins,Delivery Truck,...,0.78,East,New York,New York City,10177,2011-02-08,2011-02-09,-416.700000,44,12296.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,57638,Returned,8079,Low,0.09,217.85,29.10,699,Jenny Gold,Delivery Truck,...,0.68,West,California,Los Angeles,90041,2013-04-22,2013-04-27,-526.478095,35,5740.62
94,57638,Returned,8080,Low,0.07,11.48,5.43,699,Jenny Gold,Regular Air,...,0.36,West,California,Los Angeles,90041,2013-04-22,2013-04-24,78.890000,49,570.43
95,57638,Returned,8081,Low,0.08,2.08,2.56,699,Jenny Gold,Regular Air,...,0.55,West,California,Los Angeles,90041,2013-04-22,2013-04-24,-85.580000,49,100.08
96,59009,Returned,8251,Critical,0.02,30.98,17.08,2882,Andrew Gonzalez,Express Air,...,0.40,South,North Carolina,Charlotte,28206,2012-11-18,2012-11-20,-9.336600,65,2103.64
97,59937,Returned,8389,High,0.02,30.98,17.08,1733,Nina Horne Kelly,Regular Air,...,0.40,East,District of Columbia,Washington,20012,2010-12-28,2010-12-29,-32.280000,13,438.25

In [44]:
mergedata=pd.DataFrame(Order_returns)

In [46]:
mergedata.columns

Index(['Order ID', 'Status', 'Row ID', 'Order Priority', 'Discount',
       'Unit Price', 'Shipping Cost', 'Customer ID', 'Customer Name',
       'Ship Mode', 'Customer Segment', 'Product Category',
       'Product Sub-Category', 'Product Container', 'Product Name',
       'Product Base Margin', 'Region', 'State or Province', 'City',
       'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales'],
      dtype='object')

In [47]:
mergedata[(mergedata['Status']=='Returned')]['Order ID']#There are total 98 orders which were returned
#In the question, Product ID is mentioned which is not available, So I have given the order ID instead.

0       612
1       612
2      4610
3      4610
4      7079
      ...
93    57638
94    57638
95    57638
96    59009
97    59937
Name: Order ID, Length: 98, dtype: int64

In [ ]:
4 . try  to join order and return data both in sql and pandas

In [72]:
pd.merge(dfo,dfr)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

In [ ]:
#Sql join is pending due to need to create returns table inside  

#need to insert a data into table 
#need to perform join operation

In [2]:
import pandas as pd
from sqlalchemy import create_engine as ce

In [1]:
import  mysql.connector as conn
mydb=conn.connect(host = "localhost" , user ="rootuser" , passwd = "rootuser",use_pure=True )
cursor=mydb.cursor()
print(cursor.fetchall)

<bound method MySQLCursor.fetchall of <mysql.connector.cursor.MySQLCursor object at 0x0000017A5B8D8AF0>>

In [3]:
#Engine Creation to load returns data into mysql
mysql_engine = ce('mysql+pymysql://rootuser:rootuser@localhost:3306/pandasassignmentdb31st')

In [6]:

dfr.to_sql('superstorer1_usa', mysql_engine)

In [ ]:

#to load users data 
mysql_engine = ce('mysql+pymysql://rootuser:rootuser@localhost:3306/pandasassignmentdb31st')

In [10]:
dfu.to_sql('superstoreu_usa', mysql_engine)

In [11]:
dfu

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [ ]:
5 . Try to find out how many unique customer that we have

In [109]:
dfo.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [115]:
total=dfo['Customer ID'].unique()

In [116]:
len(total)

2703

In [ ]:
#6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [26]:
dfu

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [28]:
dfu[['Region','Manager']].count()

Region     4
Manager    4
dtype: int64

In [19]:
Both_orderandusers=pd.merge(dfo,dfu)

In [20]:
Both_orderandusers

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32000,2,5.90,88525,Chris
1,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Minnesota,Prior Lake,55372,2010-05-12,2010-05-14,803.47050,16,1164.45,86838,Chris
2,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-24.03000,7,22.23,86838,Chris
3,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-37.03000,4,13.99,86838,Chris
4,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Minnesota,Prior Lake,55372,2010-05-12,2010-05-13,-0.71000,4,14.26,86838,Chris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,25689,Critical,0.10,4.98,4.70,3381,Christopher Norton Patterson,Regular Air,Home Office,Office Supplies,...,Georgia,Macon,31204,2013-10-09,2013-10-11,174.38400,15,69.66,88850,Sam
9422,26152,Not Specified,0.00,58.14,36.61,3382,Jon Beasley,Delivery Truck,Corporate,Furniture,...,Georgia,Marietta,30062,2011-05-21,2011-05-21,12.42600,13,807.21,88842,Sam
9423,26153,Not Specified,0.00,29.99,5.50,3382,Jon Beasley,Regular Air,Corporate,Technology,...,Georgia,Marietta,30062,2011-05-21,2011-05-22,-94.55600,7,218.15,88842,Sam
9424,26154,Not Specified,0.03,16.16,7.74,3382,Jon Beasley,Regular Air,Corporate,Furniture,...,Georgia,Marietta,30062,2011-05-21,2011-05-23,-5257.04634,1,20.17,88842,Sam
9425,26140,Not Specified,0.04,5.98,7.15,3382,Jon Beasley,Regular Air,Corporate,Office Supplies,...,Georgia,Marietta,30062,2013-10-07,2013-10-09,-85.90400,3,21.86,88849,Sam

In [ ]:
#7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [32]:
dfo['Ship Mode'].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

In [55]:
Totalnum_shipmode=dfo['Ship Mode'].unique()

In [33]:
dfo['Ship Mode'].describe()

count            9426
unique              3
top       Regular Air
freq             7036
Name: Ship Mode, dtype: object

numpy.ndarray

In [48]:
Total_count=dfo['Ship Mode'].count().mean()

In [61]:
total_shipcount=pd.Series(Totalnum_shipmode).count()

In [64]:
((Total_count)/total_shipcount)*100

314200.0

8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

In [69]:
dfo['differenceinordership']=dfo['Ship Date']-dfo['Order Date']

In [70]:
dfo

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,differenceinordership
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days

9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

In [77]:
difference=dfo['differenceinordership']

In [78]:
difference

0      2 days
1      1 days
2      1 days
3      1 days
4      0 days
        ...
9421   1 days
9422   0 days
9423   2 days
9424   3 days
9425   2 days
Name: differenceinordership, Length: 9426, dtype: timedelta64[ns]

In [83]:
dfo[(dfo['differenceinordership'].dt.components['days']>10)]['Order ID']

643     87215
1548    86318
1549    86318
1678    87957
1679    87957
1680    87957
1697    19556
1698    19556
1699    19556
2515    86177
5548    88223
5673    88352
5859    87572
5881    91294
8607    86434
8609    86436
8610    86436
8973    87300
8982    19841
8983    19841
8993    19841
8996    87300
8997    87300
Name: Order ID, dtype: int64

In [84]:
#10. Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
all_data = pd.concat([dfo,dfr])

In [86]:
pd.merge(dfo,dfr)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,differenceinordership,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,4 days,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,2 days,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,2 days,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,2 days,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,0 days,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,2 days,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,1 days,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,2 days,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,2 days,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,2 days,Returned

In [87]:
all_data.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'differenceinordership',
       'Status'],
      dtype='object')

In [88]:
dfo[dfo['differenceinordership'].dt.components['days']>15]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,differenceinordership
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84 days
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17 days
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28 days
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17 days
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28 days
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92 days
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17 days
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22 days
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24 days
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18 days
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17 days
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19 days
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19 days
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27 days
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31 days
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19 days
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27 days
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31 days

11 . Gorup by region and find out which region is more profitable

In [ ]:
Allregiondata=pd.merge(dfo,dfu)

In [95]:
Allregiondata.groupby('Region').max('Profit')

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
Region,,,,,,,,,,,
Central,26387,0.25,3499.99,164.73,3399,0.85,79907,12504.9045,148,32589.59,91582
East,26389,0.10,6783.02,110.20,3402,0.85,45840,9228.2256,167,48418.58,91591
South,26399,0.10,6783.02,99.00,3382,0.85,72956,16332.4140,97,40136.93,91589
West,26397,0.10,6783.02,110.20,3403,0.85,99362,8917.7187,170,100119.16,91588

12 . Try to find out overalll in which country we are giving more didscount

In [97]:
dfo.groupby('City').max('Discount')

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
City,,,,,,,,,,,
Aberdeen,25523,0.10,300.98,64.73,2617,0.56,57401,1230.31140,19,2538.68,91501
Abilene,23405,0.10,212.60,52.20,825,0.76,79605,1038.59244,13,1656.48,89267
Abington,18579,0.08,20.15,8.99,1924,0.58,2351,-34.08800,4,81.87,88471
Acton,24626,0.00,4.82,1.49,986,0.36,1718,14.40580,5,25.00,90206
Addison,22805,0.10,20.99,2.50,3211,0.81,60101,55.02060,23,392.45,91523
...,...,...,...,...,...,...,...,...,...,...,...
York,25488,0.09,135.99,28.63,2566,0.76,17403,265.96050,15,385.45,90877
Youngstown,22142,0.09,55.48,7.96,1592,0.81,44511,144.69300,26,374.96,86676
Yuba City,23404,0.01,58.14,36.61,1042,0.61,95991,9.33000,6,377.47,87848
Yucaipa,25581,0.06,2550.14,54.92,1112,0.57,92399,1272.58080,12,4698.21,90832
Yuma,24136,0.09,574.74,36.61,1118,0.61,85364,8118.89190,43,11766.51,86781

13 . Give me a list of unique postal code

In [98]:
dfo['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

14 . which customer segement is more profitalble find it out .

In [101]:
dfo.groupby('Customer Name').max('profit')

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
Customer Name,,,,,,,,,,,
Aaron Davies Bruce,21011,0.07,194.30,11.54,3235,0.83,90210,1560.862800,11,2262.12,91253
Aaron Day,23604,0.06,65.99,16.36,1627,0.55,37743,-38.808000,21,1122.85,90606
Aaron Dillon,22062,0.10,11.58,6.97,1354,0.51,76086,33.470000,14,161.32,91211
Aaron Fuller Davidson,25849,0.10,44.43,46.59,1448,0.67,17112,33.988950,6,207.55,86712
Aaron Riggs,23202,0.10,179.29,29.21,522,0.74,97756,1307.955000,21,3112.13,89331
...,...,...,...,...,...,...,...,...,...,...,...
Zachary House,25405,0.08,140.81,24.49,3233,0.57,44515,28.440000,11,544.61,91570
Zachary Maynard,26229,0.10,226.67,28.16,1559,0.59,24060,-390.768000,5,1088.26,87424
Zachary Potter,23691,0.06,179.99,70.20,1295,0.74,27237,43.998000,14,1630.34,86161
Zachary Wu,25260,0.01,179.29,29.21,511,0.74,4038,86.658029,9,1687.66,90066
Zachary Yu,18207,0.06,20.99,2.50,777,0.81,6033,-55.689920,2,35.73,86997

In [106]:
#15 . try to find out the 10th most loss making product catagory . 
dfo.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'differenceinordership'],
      dtype='object')

In [107]:
#15. try to find out the 10th most loss making product catagory . 
dfo.sort_values(['Product Base Margin'])['Product Name'].head(10)

2431              GBC DocuBind 200 Manual Binding Machine
8248       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
1515       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
5050       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
413                                           Accessory31
5034                          Prang Dustless Chalk Sticks
8308         Staples Brown Kraft Recycled Clasp Envelopes
8311     Storex DuraTech Recycled Plastic Frosted Binders
8318                                          Accessory31
1553    Adams Telephone Message Book w/Frequently-Call...
Name: Product Name, dtype: object